<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css3.css">
</head>

<body>
    <div class="WebMain auto-class-0">
        <div class="LayoutFooterAlibaba auto-class-1">
            <div class="Col auto-class-2">
                <div class="ForUsers auto-class-3">
                    For users</div>
                <div class="Login auto-class-4">
                    Login</div>
                <div class="Register auto-class-5">
                    Register</div>
                <div class="Settings auto-class-6">
                    Settings</div>
                <div class="MyOrders auto-class-7">
                    My Orders</div>
            </div>
            <div class="Group522 auto-class-8">
                <div class="BrandLogoColored auto-class-9">
                    <div class="Brand auto-class-10">
                    </div>
                    <div class="BrandLogoSymbol auto-class-11">
                        <div class="auto-class-12">
                        </div>
                        <div class="auto-class-13">
                        </div>
                        <div class="Group2 auto-class-14">
                            <div class="Path auto-class-15">
                            </div>
                            <img class="CombinedShape auto-class-16" src="https://via.placeholder.com/17x21">
                        </div>
                    </div>
                </div>
                <div class="BestInformationAboutTheCompanyGiesHereButNowLoremIpsumIs auto-class-17">
                    Best information about the company gies here but now lorem ipsum is</div>
                <div class="Group987 auto-class-18">
                    <div class="IconContactSocialFacebook3 auto-class-19">
                        <div class="Fill183 auto-class-20">
                        </div>
                    </div>
                    <div class="IconContactSocialTwitter3 auto-class-21">
                        <div class="Fill184 auto-class-22">
                        </div>
                    </div>
                    <div class="IconContactSocialLinkedin3 auto-class-23">
                        <div class="Fill209 auto-class-24">
                        </div>
                    </div>
                    <div class="IconContactSocialInstagram3 auto-class-25">
                        <div class="CombinedShape auto-class-26">
                        </div>
                    </div>
                    <div class="IconContactSocialYoutube3 auto-class-27">
                        <div class="CombinedShape auto-class-28">
                        </div>
                    </div>
                </div>
            </div>
            <div class="Group988 auto-class-29">
                <div class="Rectangle305 auto-class-30">
                </div>
                <div class="PaymentMethodLanguage auto-class-31">
                    <div class="Group986 auto-class-32">
                        <div class="ImageFlagsIcon auto-class-33">
                            <img class="Us2x auto-class-34" src="https://via.placeholder.com/24x17">
                        </div>
                        <div class="English auto-class-35">
                            English</div>
                        <div class="IconControlExpandLess auto-class-36">
                            <div class="Vector auto-class-37">
                            </div>
                        </div>
                    </div>
                    <div class="2023Ecommerce auto-class-38">
                        © 2023 Ecommerce. </div>
                </div>
            </div>
            <div class="Col auto-class-39">
                <div class="MiscMarketButton auto-class-40">
                    <div class="Group auto-class-41">
                        <div class="Background auto-class-42">
                        </div>
                        <div class="Subtract auto-class-43">
                        </div>
                    </div>
                </div>
                <div class="MiscMarketButton auto-class-44">
                    <div class="Group auto-class-45">
                        <div class="Background auto-class-46">
                        </div>
                        <div class="Logo auto-class-47">
                        </div>
                    </div>
                </div>
                <div class="GetApp auto-class-48">
                    Get app</div>
            </div>
            <div class="Col auto-class-49">
                <div class="Link auto-class-50">
                    Information</div>
                <div class="Link auto-class-51">
                    Help Center</div>
                <div class="Link auto-class-52">
                    Money Refund</div>
                <div class="Link auto-class-53">
                    Shipping</div>
                <div class="Link auto-class-54">
                    Contact us</div>
            </div>
            <div class="Col auto-class-55">
                <div class="Link auto-class-56">
                    Partnership</div>
                <div class="Link auto-class-57">
                    About Us</div>
                <div class="Link auto-class-58">
                    Find store</div>
                <div class="Link auto-class-59">
                    Categories</div>
                <div class="Link auto-class-60">
                    Blogs</div>
            </div>
            <div class="Col auto-class-61">
                <div class="Link auto-class-62">
                    About</div>
                <div class="Link auto-class-63">
                    About Us</div>
                <div class="Link auto-class-64">
                    Find store</div>
                <div class="Link auto-class-65">
                    Categories</div>
                <div class="Link auto-class-66">
                    Blogs</div>
            </div>
        </div>
        <div class="LayoutNewsletterAlibaba auto-class-67">
            <div class="Bg auto-class-68"></div>
            <div class="TextForm auto-class-69">
                <div class="Form auto-class-70">
                    <div class="FormIconInput auto-class-71">
                        <div class="Background auto-class-72">
                        </div>
                        <div class="IconEmail auto-class-73">
                            <div class="Vector auto-class-74">
                            </div>
                        </div>
                        <div class="Text auto-class-75">
                            Email</div>
                    </div>
                    <div class="ButtonBtnBasic auto-class-76">
                        <div class="ButtonBaseTextMd auto-class-77">
                            <div class="Text auto-class-78">
                                Subscribe</div>
                        </div>
                    </div>
                </div>
                <div class="Text auto-class-79">
                    <div class="BellRossNightlum auto-class-80">
                        Get daily news on upcoming offers from many suppliers all over the world</div>
                    <div class="SubscribeOnOurNewsletter auto-class-81">
                        Subscribe on our newsletter</div>
                </div>
            </div>
        </div>
        <div class="SectionCountry auto-class-82">
            <div class="Group985 auto-class-83">
                <div class="Layout1ItemCountry auto-class-84">
                    <div class="ImageFlagsIcon auto-class-85">
                        <img class="Ae2x auto-class-86" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-87">
                        Arabic Emirates</div>
                    <div class="Subtitle auto-class-88">
                        shopname.ae</div>
                </div>
                <div class="Layout1ItemCountry auto-class-89">
                    <div class="ImageFlagsIcon auto-class-90">
                        <img class="Dk2x auto-class-91" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-92">
                        Denmark</div>
                    <div class="Subtitle auto-class-93">
                        denmark.com.dk</div>
                </div>
                <div class="Layout1ItemCountry auto-class-94">
                    <div class="ImageFlagsIcon auto-class-95">
                        <img class="Us2x auto-class-96" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-97">
                        United States</div>
                    <div class="Subtitle auto-class-98">
                        shopname.ae</div>
                </div>
                <div class="Layout1ItemCountry auto-class-99">
                    <div class="ImageFlagsIcon auto-class-100">
                        <img class="Ae2x auto-class-101" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-102">
                        Arabic Emirates</div>
                    <div class="Subtitle auto-class-103">
                        shopname.ae</div>
                </div>
                <div class="Layout1ItemCountry auto-class-104">
                    <div class="ImageFlagsIcon auto-class-105">
                        <img class="Au2x auto-class-106" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-107">
                        Australia</div>
                    <div class="Subtitle auto-class-108">
                        shopname.ae</div>
                </div>
                <div class="Layout1ItemCountry auto-class-109">
                    <div class="ImageFlagsIcon auto-class-110">
                        <img class="Fr2x auto-class-111" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-112">
                        France</div>
                    <div class="Subtitle auto-class-113">
                        shopname.com.fr</div>
                </div>
                <div class="Layout1ItemCountry auto-class-114">
                    <div class="ImageFlagsIcon auto-class-115">
                        <img class="Ru2x auto-class-116" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-117">
                        Russia</div>
                    <div class="Subtitle auto-class-118">
                        shopname.ru</div>
                </div>
                <div class="Layout1ItemCountry auto-class-119">
                    <div class="ImageFlagsIcon auto-class-120">
                        <img class="Cn2x auto-class-121" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-122">
                        China</div>
                    <div class="Subtitle auto-class-123">
                        shopname.ae</div>
                </div>
                <div class="Layout1ItemCountry auto-class-124">
                    <div class="ImageFlagsIcon auto-class-125">
                        <img class="It2x auto-class-126" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-127">
                        Italy</div>
                    <div class="Subtitle auto-class-128">
                        shopname.it</div>
                </div>
                <div class="Layout1ItemCountry auto-class-129">
                    <div class="ImageFlagsIcon auto-class-130">
                        <img class="Gb2x auto-class-131" src="https://via.placeholder.com/28x20">
                    </div>
                    <div class="Name auto-class-132">
                        Great Britain</div>
                    <div class="Subtitle auto-class-133">
                        shopname.co.uk</div>
                </div>
            </div>
            <div class="SuppliersByRegion auto-class-134">
                Suppliers by region</div>
        </div>
        <div class="SectionService auto-class-135">
            <div class="auto-class-136">
                <div class="Bg auto-class-137">
                </div>
                <div class="BellRossNightlum auto-class-138">
                    Product monitoring and inspection</div>
                <div class="Bg auto-class-139"></div>
                <div class="MaskGroup auto-class-140">
                    <div class="Bg auto-class-141">
                    </div>
                    <img class="Image107 auto-class-142" src="https://via.placeholder.com/288x192">
                </div>
                <div class="Ellipse12 auto-class-143">
                </div>
                <div class="IconSecurity auto-class-144">
                    <div class="Vector auto-class-145">
                    </div>
                </div>
            </div>
            <div class="auto-class-146">
                <div class="Bg auto-class-147">
                </div>
                <div class="BellRossNightlum auto-class-148">
                    Fast, reliable shipping by ocean or air</div>
                <div class="Bg auto-class-149"></div>
                <div class="MaskGroup auto-class-150">
                    <div class="Bg auto-class-151">
                    </div>
                    <img class="Image106 auto-class-152" src="https://via.placeholder.com/292x152">
                </div>
                <div class="Ellipse12 auto-class-153">
                </div>
                <div class="IconControlSend auto-class-154">
                    <div class="Vector auto-class-155">
                    </div>
                </div>
            </div>
            <div class="auto-class-156">
                <div class="Bg auto-class-157">
                </div>
                <div class="BellRossNightlum auto-class-158">
                    Customize Your Products</div>
                <div class="Bg auto-class-159"></div>
                <div class="MaskGroup auto-class-160">
                    <div class="Bg auto-class-161">
                    </div>
                    <img class="Image104 auto-class-162" src="https://via.placeholder.com/332x175">
                </div>
                <div class="Ellipse12 auto-class-163">
                </div>
                <div class="IconInventory2 auto-class-164">
                    <div class="Vector auto-class-165">
                    </div>
                </div>
            </div>
            <div class="auto-class-166">
                <div class="Bg auto-class-167">
                </div>
                <div class="BellRossNightlum auto-class-168">
                    Source from Industry Hubs</div>
                <div class="Bg auto-class-169"></div>
                <div class="MaskGroup auto-class-170">
                    <div class="Bg auto-class-171">
                    </div>
                    <img class="Image108 auto-class-172" src="https://via.placeholder.com/303x222">
                </div>
                <div class="Ellipse12 auto-class-173">
                </div>
                <div class="IconControlSearch auto-class-174">
                    <div class="Vector auto-class-175">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="OurExtraServices auto-class-176">
                Our extra services</div>
        </div>
        <div class="SectionRecommend auto-class-177">
            <div class="ItemsBlock auto-class-178">
                <div class="LayoutAlibabaItemHomeSm auto-class-179">
                    <div class="Bg auto-class-180">
                    </div>
                    <div class="Info auto-class-181">
                        $80.95</div>
                    <div class="Title auto-class-182">
                        Jeans bag for travel for men</div>
                    <div class="Bg auto-class-183">
                    </div>
                    <div class="ImageTech10 auto-class-184">
                        <img class="Image85 auto-class-185" src="https://via.placeholder.com/186x186">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-186">
                    <div class="Bg auto-class-187">
                    </div>
                    <div class="Info auto-class-188">
                        $10.30</div>
                    <div class="Title auto-class-189">
                        Blue wallet for men leather metarfial</div>
                    <div class="Bg auto-class-190">
                    </div>
                    <div class="ImageInterior3 auto-class-191">
                        <img class="Image90 auto-class-192" src="https://via.placeholder.com/191x191">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-193">
                    <div class="Bg auto-class-194">
                    </div>
                    <div class="Info auto-class-195">
                        $10.30</div>
                    <div class="Title auto-class-196">
                        Smartwatch silver color modern</div>
                    <div class="Bg auto-class-197">
                    </div>
                    <div class="ImageCloth5 auto-class-198">
                        <img class="Image26 auto-class-199" src="https://via.placeholder.com/172x172">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-200">
                    <div class="Bg auto-class-201">
                    </div>
                    <div class="Info auto-class-202">
                        $8.99</div>
                    <div class="Title auto-class-203">
                        Headset for gaming with mic</div>
                    <div class="Bg auto-class-204">
                    </div>
                    <div class="ImageTech9 auto-class-205">
                        <img class="Image86 auto-class-206" src="https://via.placeholder.com/194x194">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-207">
                    <div class="Bg auto-class-208">
                    </div>
                    <div class="Info auto-class-209">
                        $9.99</div>
                    <div class="Title auto-class-210">
                        Canon camera black, 100x zoom</div>
                    <div class="Bg auto-class-211">
                    </div>
                    <div class="ImageCloth4 auto-class-212">
                        <img class="Bitmap auto-class-213" src="https://via.placeholder.com/148x152">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-214">
                    <div class="Bg auto-class-215">
                    </div>
                    <div class="Info auto-class-216">
                        $99.00</div>
                    <div class="Title auto-class-217">
                        Leather wallet</div>
                    <div class="Bg auto-class-218">
                    </div>
                    <div class="ImageCloth5 auto-class-219">
                        <img class="Image26 auto-class-220" src="https://via.placeholder.com/172x172">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-221">
                    <div class="Bg auto-class-222">
                    </div>
                    <div class="Info auto-class-223">
                        $34.00</div>
                    <div class="Title auto-class-224">
                        Jeans bag for travel for men</div>
                    <div class="Bg auto-class-225">
                    </div>
                    <div class="ImageCloth6 auto-class-226">
                        <img class="Image24 auto-class-227" src="https://via.placeholder.com/169x171">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-228">
                    <div class="Bg auto-class-229">
                    </div>
                    <div class="Info auto-class-230">
                        $12.50</div>
                    <div class="Title auto-class-231">
                        Brown winter coat medium size</div>
                    <div class="Bg auto-class-232">
                    </div>
                    <div class="ImageCloth7 auto-class-233">
                        <img class="Image30 auto-class-234" src="https://via.placeholder.com/156x170">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-235">
                    <div class="Bg auto-class-236">
                    </div>
                    <div class="Info auto-class-237">
                        $10.30</div>
                    <div class="Title auto-class-238">
                        Jeans shorts for men blue color</div>
                    <div class="Bg auto-class-239">
                    </div>
                    <div class="ImageCloth3 auto-class-240">
                        <img class="1 auto-class-241" src="https://via.placeholder.com/172x178">
                    </div>
                </div>
                <div class="LayoutAlibabaItemHomeSm auto-class-242">
                    <div class="Bg auto-class-243">
                    </div>
                    <div class="Info auto-class-244">
                        $10.30</div>
                    <div class="Title auto-class-245">
                        T-shirts with multiple colors, for men</div>
                    <div class="Bg auto-class-246">
                    </div>
                    <div class="ImageCloth1 auto-class-247">
                        <img class="Bitmap auto-class-248" src="https://via.placeholder.com/150x171">
                    </div>
                </div>
            </div>
            <div class="RecommendedItems auto-class-249">
                Recommended items</div>
        </div>
        <div class="BlockItemsGroup auto-class-250">
            <div class="BgCard auto-class-251">
            </div>
            <div class="LeftSide auto-class-252">
                <div class="Rectangle293 auto-class-253"></div>
                <div class="Group970 auto-class-254">
                    <div class="Rectangle292 auto-class-255">
                    </div>
                    <div class="Image98 auto-class-256">
                    </div>
                </div>
                <div class="ButtonBtnBasic auto-class-257">
                    <div class="ButtonBaseTextMd auto-class-258">
                        <div class="Text auto-class-259">
                            Source now</div>
                    </div>
                </div>
                <div class="ConsumerElectronics auto-class-260">
                    Consumer electronics and gadgets</div>
            </div>
            <div class="Item auto-class-261">
                <div class="Rectangle203 auto-class-262">
                </div>
                <div class="ImageTech1 auto-class-263">
                    <img class="Image33 auto-class-264" src="https://via.placeholder.com/72x72">
                </div>
                <div class="SmartWatches auto-class-265">
                    Electric kattle</div>
                <div class="FromUsd19 auto-class-266">
                    From USD 240</div>
                <div class="Line63 auto-class-267">
                </div>
                <div class="Line64 auto-class-268">
                </div>
            </div>
            <div class="Item auto-class-269">
                <div class="Rectangle203 auto-class-270">
                </div>
                <div class="ImageTech2 auto-class-271">
                    <img class="Image32 auto-class-272" src="https://via.placeholder.com/71x71">
                </div>
                <div class="SmartWatches auto-class-273">
                    Smartphones</div>
                <div class="FromUsd19 auto-class-274">
                    From USD 19</div>
                <div class="Line63 auto-class-275">
                </div>
                <div class="Line64 auto-class-276">
                </div>
            </div>
            <div class="Item auto-class-277">
                <div class="Rectangle203 auto-class-278">
                </div>
                <div class="ImageTech7 auto-class-279">
                    <img class="Image34 auto-class-280" src="https://via.placeholder.com/74x58">
                </div>
                <div class="SmartWatches auto-class-281">
                    Laptops &amp; PC</div>
                <div class="FromUsd19 auto-class-282">
                    From USD 340</div>
                <div class="Line63 auto-class-283">
                </div>
                <div class="Line64 auto-class-284">
                </div>
            </div>
            <div class="Item auto-class-285">
                <div class="Rectangle203 auto-class-286">
                </div>
                <div class="ImageTech5 auto-class-287">
                    <img class="Image29 auto-class-288" src="https://via.placeholder.com/66x75">
                </div>
                <div class="SmartWatches auto-class-289">
                    Gaming set</div>
                <div class="FromUsd19 auto-class-290">
                    From USD 35</div>
                <div class="Line63 auto-class-291">
                </div>
                <div class="Line64 auto-class-292">
                </div>
            </div>
            <div class="Item auto-class-293">
                <div class="Rectangle203 auto-class-294">
                </div>
                <div class="ImageTech10 auto-class-295">
                    <img class="Image85 auto-class-296" src="https://via.placeholder.com/76x76">
                </div>
                <div class="SmartWatches auto-class-297">
                    Smart watches</div>
                <div class="FromUsd19 auto-class-298">
                    From USD 90</div>
                <div class="Line63 auto-class-299">
                </div>
                <div class="Line64 auto-class-300">
                </div>
            </div>
            <div class="Item auto-class-301">
                <div class="Rectangle203 auto-class-302">
                </div>
                <div class="ImageTech9 auto-class-303">
                    <img class="Image86 auto-class-304" src="https://via.placeholder.com/80x79">
                </div>
                <div class="SmartWatches auto-class-305">
                    Headphones</div>
                <div class="FromUsd19 auto-class-306">
                    From USD 10</div>
                <div class="Line63 auto-class-307">
                </div>
                <div class="Line64 auto-class-308">
                </div>
            </div>
            <div class="Item auto-class-309">
                <div class="Rectangle203 auto-class-310">
                </div>
                <div class="ImageTech6 auto-class-311">
                    <img class="Image28 auto-class-312" src="https://via.placeholder.com/76x54">
                </div>
                <div class="SmartWatches auto-class-313">
                    Cameras</div>
                <div class="FromUsd19 auto-class-314">
                    From USD 89</div>
                <div class="Line63 auto-class-315">
                </div>
                <div class="Line64 auto-class-316">
                </div>
            </div>
            <div class="Item auto-class-317">
                <div class="Rectangle203 auto-class-318">
                </div>
                <div class="ImageTech8 auto-class-319">
                    <img class="Image35 auto-class-320" src="https://via.placeholder.com/59x71">
                </div>
                <div class="SmartWatches auto-class-321">
                    Smart watches</div>
                <div class="FromUsd19 auto-class-322">
                    From USD 19</div>
                <div class="Line63 auto-class-323">
                </div>
                <div class="Line64 auto-class-324">
                </div>
            </div>
        </div>
        <div class="BlockItemsGroup auto-class-325">
            <div class="BgCard auto-class-326">
            </div>
            <div class="LeftAside auto-class-327">
                <div class="Rectangle293 auto-class-328"></div>
                <div class="Group969 auto-class-329">
                    <div class="Rectangle292 auto-class-330">
                    </div>
                    <div class="Image92 auto-class-331">
                    </div>
                </div>
                <div class="ButtonBtnBasic auto-class-332">
                    <div class="ButtonBaseTextMd auto-class-333">
                        <div class="Text auto-class-334">
                            Source now</div>
                    </div>
                </div>
                <div class="ConsumerElectronics auto-class-335">
                    Home and outdoor</div>
            </div>
            <div class="Item auto-class-336">
                <div class="Rectangle203 auto-class-337">
                </div>
                <div class="ImageInterior4 auto-class-338">
                    <img class="Image89 auto-class-339" src="https://via.placeholder.com/75x75">
                </div>
                <div class="SmartWatches auto-class-340">
                    Coffee maker</div>
                <div class="FromUsd19 auto-class-341">
                    From USD 10</div>
                <div class="Line63 auto-class-342">
                </div>
                <div class="Line64 auto-class-343">
                </div>
            </div>
            <div class="Item auto-class-344">
                <div class="Rectangle203 auto-class-345">
                </div>
                <div class="ImageInterior7 auto-class-346">
                    <img class="Rasm auto-class-347" src="https://via.placeholder.com/82x86">
                </div>
                <div class="SmartWatches auto-class-348">
                    Home appliance</div>
                <div class="FromUsd19 auto-class-349">
                    From USD 19</div>
                <div class="Line63 auto-class-350">
                </div>
                <div class="Line64 auto-class-351">
                </div>
            </div>
            <div class="Item auto-class-352">
                <div class="Rectangle203 auto-class-353">
                </div>
                <div class="ImageInterior8 auto-class-354">
                    <img class="Image87 auto-class-355" src="https://via.placeholder.com/78x69">
                </div>
                <div class="SmartWatches auto-class-356">
                    Blenders</div>
                <div class="FromUsd19 auto-class-357">
                    From USD 39</div>
                <div class="Line63 auto-class-358">
                </div>
                <div class="Line64 auto-class-359">
                </div>
            </div>
            <div class="Item auto-class-360">
                <div class="Rectangle203 auto-class-361">
                </div>
                <div class="ImageInterior9 auto-class-362">
                    <img class="Image88 auto-class-363" src="https://via.placeholder.com/81x81">
                </div>
                <div class="SmartWatches auto-class-364">
                    Kitchen mixer</div>
                <div class="FromUsd19 auto-class-365">
                    From USD 100</div>
                <div class="Line63 auto-class-366">
                </div>
                <div class="Line64 auto-class-367">
                </div>
            </div>
            <div class="Item auto-class-368">
                <div class="Rectangle203 auto-class-369">
                </div>
                <div class="ImageInterior3 auto-class-370">
                    <img class="Image90 auto-class-371" src="https://via.placeholder.com/78x78">
                </div>
                <div class="SmartWatches auto-class-372">
                    Smart watches</div>
                <div class="FromUsd19 auto-class-373">
                    From USD 19</div>
                <div class="Line63 auto-class-374">
                </div>
                <div class="Line64 auto-class-375">
                </div>
            </div>
            <div class="Item auto-class-376">
                <div class="Rectangle203 auto-class-377">
                </div>
                <div class="ImageInterior5 auto-class-378">
                    <img class="Image93 auto-class-379" src="https://via.placeholder.com/83x82">
                </div>
                <div class="SmartWatches auto-class-380">
                    Kitchen dishes</div>
                <div class="FromUsd19 auto-class-381">
                    From USD 19</div>
                <div class="Line63 auto-class-382">
                </div>
                <div class="Line64 auto-class-383">
                </div>
            </div>
            <div class="Item auto-class-384">
                <div class="Rectangle203 auto-class-385">
                </div>
                <div class="ImageInterior6 auto-class-386">
                    <img class="Image94 auto-class-387" src="https://via.placeholder.com/75x75">
                </div>
                <div class="SmartWatches auto-class-388">
                    Sofa &amp; chair</div>
                <div class="FromUsd19 auto-class-389">
                    From USD 19</div>
                <div class="Line63 auto-class-390">
                </div>
                <div class="Line64 auto-class-391">
                </div>
            </div>
            <div class="Item auto-class-392">
                <div class="Rectangle203 auto-class-393">
                </div>
                <div class="ImageInterior1 auto-class-394">
                    <img class="Rasm auto-class-395" src="https://via.placeholder.com/67x69">
                </div>
                <div class="SmartWatches auto-class-396">
                    Soft chairs</div>
                <div class="FromUsd19 auto-class-397">
                    From USD 19</div>
                <div class="Line63 auto-class-398">
                </div>
                <div class="Line64 auto-class-399">
                </div>
            </div>
        </div>
        <div class="SectionSale auto-class-400">
            <div class="BgCard auto-class-401">
            </div>
            <div class="Items auto-class-402">
                <div class="Item auto-class-403">
                    <div class="Bg auto-class-404">
                    </div>
                    <div class="ImageTech3 auto-class-405">
                        <img class="Image23 auto-class-406" src="https://via.placeholder.com/125x125">
                    </div>
                    <div class="Info auto-class-407">
                        <div class="BadgeOrange auto-class-408">
                            <div class="Pending auto-class-409">
                                -25%</div>
                        </div>
                        <div class="SmartWatches auto-class-410">
                            Canon camreras</div>
                    </div>
                    <div class="Line63 auto-class-411">
                    </div>
                </div>
                <div class="Item auto-class-412">
                    <div class="Bg auto-class-413">
                    </div>
                    <div class="ImageTech5 auto-class-414">
                        <img class="Image29 auto-class-415" src="https://via.placeholder.com/113x128">
                    </div>
                    <div class="Info auto-class-416">
                        <div class="BadgeOrange auto-class-417">
                            <div class="Pending auto-class-418">
                                -25%</div>
                        </div>
                        <div class="SmartWatches auto-class-419">
                            Headphones</div>
                    </div>
                    <div class="Line63 auto-class-420">
                    </div>
                </div>
                <div class="Item auto-class-421">
                    <div class="Bg auto-class-422">
                    </div>
                    <div class="ImageTech6 auto-class-423">
                        <img class="Image28 auto-class-424" src="https://via.placeholder.com/129x91">
                    </div>
                    <div class="Info auto-class-425">
                        <div class="BadgeOrange auto-class-426">
                            <div class="Pending auto-class-427">
                                -40%</div>
                        </div>
                        <div class="SmartWatches auto-class-428">
                            GoPro cameras</div>
                    </div>
                    <div class="Line63 auto-class-429">
                    </div>
                </div>
                <div class="Item auto-class-430">
                    <div class="Bg auto-class-431">
                    </div>
                    <div class="ImageTech7 auto-class-432">
                        <img class="Image34 auto-class-433" src="https://via.placeholder.com/126x100">
                    </div>
                    <div class="Info auto-class-434">
                        <div class="BadgeOrange auto-class-435">
                            <div class="Pending auto-class-436">
                                -15%</div>
                        </div>
                        <div class="SmartWatches auto-class-437">
                            Laptops</div>
                    </div>
                    <div class="Line63 auto-class-438">
                    </div>
                </div>
                <div class="Item auto-class-439">
                    <div class="Bg auto-class-440">
                    </div>
                    <div class="ImageTech8 auto-class-441">
                        <img class="Image35 auto-class-442" src="https://via.placeholder.com/101x121">
                    </div>
                    <div class="Info auto-class-443">
                        <div class="BadgeOrange auto-class-444">
                            <div class="Pending auto-class-445">
                                -25%</div>
                        </div>
                        <div class="SmartWatches auto-class-446">
                            Smart watches</div>
                    </div>
                    <div class="Line63 auto-class-447">
                    </div>
                </div>
            </div>
            <div class="Coundown auto-class-448">
                <div class="Time auto-class-449">
                    <div class="Group971 auto-class-450">
                        <div class="Rectangle204 auto-class-451">
                        </div>
                        <div class="auto-class-452">
                            04</div>
                        <div class="Days auto-class-453">
                            Days</div>
                    </div>
                    <div class="Group972 auto-class-454">
                        <div class="Rectangle204 auto-class-455">
                        </div>
                        <div class="auto-class-456">
                            13</div>
                        <div class="Hour auto-class-457">
                            Hour</div>
                    </div>
                    <div class="Group973 auto-class-458">
                        <div class="Rectangle204 auto-class-459">
                        </div>
                        <div class="auto-class-460">
                            34</div>
                        <div class="Min auto-class-461">
                            Min</div>
                    </div>
                    <div class="Group974 auto-class-462">
                        <div class="Rectangle204 auto-class-463">
                        </div>
                        <div class="auto-class-464">
                            56</div>
                        <div class="Sec auto-class-465">
                            Sec</div>
                    </div>
                </div>
                <div class="HygieneEquipments auto-class-466">
                    Hygiene equipments</div>
                <div class="DealsAndOffers auto-class-467">
                    Deals and offers</div>
            </div>
        </div>
        <div class="SectionMain auto-class-468">
            <div class="BgCard auto-class-469">
            </div>
            <div class="Banner auto-class-470">
                <div class="MaskGroup auto-class-471">
                    <div class="BgMain auto-class-472">
                    </div>
                    <img class="BannerBoard800x4202 auto-class-473" src="https://via.placeholder.com/664x373">
                </div>
                <div class="Text auto-class-474">
                    <div class="LatestTrending auto-class-475">
                        Latest trending</div>
                    <div class="ElectronicItems auto-class-476">
                        Electronic items</div>
                </div>
                <div class="ButtonBtnBasic auto-class-477">
                    <div class="ButtonBaseTextMd auto-class-478">
                        <div class="Text auto-class-479">
                            Learn more</div>
                    </div>
                </div>
            </div>
            <div class="Group983 auto-class-480">
                <div class="NavBasePillsTextNorm auto-class-481">
                    <div class="Background auto-class-482">
                    </div>
                    <div class="Text auto-class-483">
                        Clothes and wear</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-484">
                    <div class="Background auto-class-485">
                    </div>
                    <div class="Text auto-class-486">
                        Tools, equipments</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-487">
                    <div class="Background auto-class-488">
                    </div>
                    <div class="Text auto-class-489">
                        Home interiors</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-490">
                    <div class="Background auto-class-491">
                    </div>
                    <div class="Text auto-class-492">
                        Sports and outdoor</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-493">
                    <div class="Background auto-class-494">
                    </div>
                    <div class="Text auto-class-495">
                        Machinery tools</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-496">
                    <div class="Background auto-class-497">
                    </div>
                    <div class="Text auto-class-498">
                        More category</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-499">
                    <div class="Background auto-class-500">
                    </div>
                    <div class="Text auto-class-501">
                        Computer and tech</div>
                </div>
                <div class="NavBasePillsTextNorm auto-class-502">
                    <div class="Background auto-class-503">
                    </div>
                    <div class="Text auto-class-504">
                        Animal and pets</div>
                </div>
                <div class="NavBasePillsTextActive auto-class-505">
                    <div class="Background auto-class-506">
                    </div>
                    <div class="Text auto-class-507">
                        Automobiles</div>
                </div>
            </div>
            <div class="Rectangle300 auto-class-508">
            </div>
            <div class="HiUserLetSGetStated auto-class-509">
                Hi, user let’s get stated</div>
            <div class="ButtonBtnBasic auto-class-510">
                <div class="ButtonBaseTextSm auto-class-511">
                    <div class="Text auto-class-512">
                        Join now</div>
                </div>
            </div>
            <div class="ButtonBtnBasic auto-class-513">
                <div class="ButtonBaseTextSm auto-class-514">
                    <div class="Text auto-class-515">
                        Log in</div>
                </div>
            </div>
            <div class="Avatar auto-class-516">
                <div class="Border auto-class-517"></div>
                <div class="UserAvatar auto-class-518">
                </div>
                <div class="Photo auto-class-519">
                </div>
            </div>
            <div class="Block auto-class-520">
                <div class="Rectangle302 auto-class-521">
                </div>
                <div class="GetUs10OffWithANewSupplier auto-class-522">
                    Get US $10 off with a new supplier</div>
            </div>
            <div class="Block auto-class-523">
                <div class="Rectangle303 auto-class-524">
                </div>
                <div class="SendQuotesWithSupplierPreferences auto-class-525">
                    Send quotes with supplier preferences</div>
            </div>
        </div>
        <div class="SectionInquiry auto-class-526">
            <div class="Group982 auto-class-527">
                <div class="BgCard auto-class-528">
                </div>
                <div class="MaskGroup auto-class-529">
                    <div class="BgCard auto-class-530">
                    </div>
                    <img class="Image102 auto-class-531" src="https://via.placeholder.com/1326x683">
                    <div class="Rectangle299 auto-class-532">
                    </div>
                </div>
            </div>
            <div class="Info auto-class-533">
                <div
                    class="LoremIpsumDolorSitAmetConsecteturAdipisicingElitSedDoEiusmodTemporIncididunt auto-class-534">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
                <div class="AnEasyWayToSendRequestsToAllSuppliers auto-class-535">
                    An easy way to send requests to all suppliers</div>
            </div>
            <div class="FormBlock auto-class-536">
                <div class="BgCard auto-class-537">
                </div>
                <div class="ButtonBtnBasic auto-class-538">
                    <div class="ButtonBaseTextMd auto-class-539">
                        <div class="Text auto-class-540">
                            Send inquiry</div>
                    </div>
                </div>
                <div class="FormTextarea auto-class-541">
                    <div class="Group6 auto-class-542">
                        <div class="Background auto-class-543">
                        </div>
                        <div class="Text auto-class-544">
                            Type more details</div>
                        <div class="Resizer auto-class-545">
                        </div>
                    </div>
                </div>
                <div class="SendQuoteToSuppliers auto-class-546">
                    Send quote to suppliers</div>
                <div class="FormInputBasic auto-class-547">
                    <div class="Background auto-class-548">
                    </div>
                    <div class="Text auto-class-549">
                        What item you need?</div>
                </div>
                <div class="FormInputBasic auto-class-550">
                    <div class="Background auto-class-551">
                    </div>
                    <div class="Text auto-class-552">
                        Quantity</div>
                </div>
                <div class="FormSelectbox auto-class-553">
                    <div class="Background auto-class-554">
                    </div>
                    <div class="Text auto-class-555">
                        Pcs</div>
                    <div class="IconControlExpandMore auto-class-556">
                        <div class="Vector auto-class-557">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="LayoutNavbarAlibaba auto-class-558">
            <div class="Bg auto-class-559">
            </div>
            <div class="Line61 auto-class-560">
            </div>
            <div class="Border auto-class-561">
            </div>
            <div class="ShipTo auto-class-562">
                <div class="Fitness auto-class-563">
                    Ship to</div>
                <div class="ImageFlagsIcon auto-class-564">
                    <img class="De2x auto-class-565" src="https://via.placeholder.com/22x16">
                </div>
                <div class="IconControlExpandMore auto-class-566">
                    <div class="Vector auto-class-567">
                    </div>
                </div>
            </div>
            <div class="Payment auto-class-568">
                <div class="Fitness auto-class-569">
                    English, USD</div>
                <div class="IconControlExpandMore auto-class-570">
                    <div class="Vector auto-class-571">
                    </div>
                </div>
            </div>
            <div class="NavList auto-class-572">
                <div class="Dropdown auto-class-573">
                    <div class="IconControlExpandMore auto-class-574">
                        <div class="Vector auto-class-575">
                        </div>
                    </div>
                    <div class="Nav auto-class-576">
                        Help</div>
                </div>
                <div class="Nav auto-class-577">
                    Menu item</div>
                <div class="Nav auto-class-578">
                    Projects</div>
                <div class="Nav auto-class-579">
                    Gift boxes</div>
                <div class="Nav auto-class-580">
                    Hot offers</div>
                <div class="Nav auto-class-581">
                    All category</div>
                <div class="IconControlMenu auto-class-582">
                    <div class="Vector auto-class-583">
                    </div>
                </div>
            </div>
        </div>
        <div class="LayoutHeaderAlibaba auto-class-584">
            <div class="Bg auto-class-585">
            </div>
            <div class="Actions auto-class-586">
                <div class="Cart auto-class-587">
                    <img class="Vector auto-class-588" src="https://via.placeholder.com/21x21">
                    <div class="MyCart auto-class-589">
                        My cart</div>
                </div>
                <div class="Orders auto-class-590">
                    <div class="Vector auto-class-591">
                    </div>
                    <div class="Orders auto-class-592">
                        Orders</div>
                </div>
                <div class="Message auto-class-593">
                    <div class="Message auto-class-594">
                        Message</div>
                    <img class="Vector auto-class-595" src="https://via.placeholder.com/20x20">
                </div>
                <div class="Profile auto-class-596">
                    <div class="Profile auto-class-597">
                        Profile</div>
                    <img class="Vector auto-class-598" src="https://via.placeholder.com/20x19">
                </div>
            </div>
            <div class="SearchForm auto-class-599">
                <div class="Rectangle304 auto-class-600">
                </div>
                <div class="FormInputGroupInputMidle auto-class-601">
                    <div class="Background auto-class-602">
                    </div>
                    <div class="Text auto-class-603">
                        All category</div>
                    <div class="IconControlExpandMore auto-class-604">
                        <div class="Vector auto-class-605">
                        </div>
                    </div>
                </div>
                <div class="FormInputGroupInputLeft auto-class-606">
                    <div class="Background auto-class-607">
                    </div>
                    <div class="Text auto-class-608">
                        Search</div>
                </div>
                <div class="ButtonBtnGroup auto-class-609">
                    <div class="Background auto-class-610">
                    </div>
                    <div class="ButtonBaseTextMd auto-class-611">
                        <div class="Text auto-class-612">
                            Search</div>
                    </div>
                </div>
            </div>
            <div class="BrandLogoColored auto-class-613">
                <div class="Brand auto-class-614">
                </div>
                <div class="BrandLogoSymbol auto-class-615">
                    <div class="auto-class-616">
                    </div>
                    <div class="auto-class-617">
                    </div>
                    <div class="Group2 auto-class-618">
                        <div class="Path auto-class-619">
                        </div>
                        <img class="CombinedShape auto-class-620" src="https://via.placeholder.com/17x21">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>